@keyframes taking-damage {
  0% { filter: none }
  100% {
    filter:
      invert(24%)
      sepia(99%)
      saturate(7485%)
      hue-rotate(2deg)
      brightness(102%)
      contrast(119%)
    ;
  }
}

.taking-damage {
  animation: taking-damage .1s infinite alternate;
}

@keyframes attacking {
  0% { transform: none }
  100% { transform: translate(10px, -10px) rotate(8deg); }
}

.attacking {
  animation: attacking .1s infinite alternate;
}
