@keyframes taking-damage {
  0% { opacity: 1 }
  10% { opacity: 0 }
  50% { opacity: 1 }
  60% { opacity: 0 }
}

.taking-damage {
  animation: taking-damage .1s infinite alternate;
}

@keyframes attacking {
  0% { transform: none }
  100% { transform: translate(16px, -16px) rotate(12deg); }
}

@keyframes attacking-down {
  0% { transform: none }
  100% { transform: translate(-16px, 16px) rotate(-12deg); }
}

.attacking {
  animation: attacking .1s infinite alternate;
}

.attacking.attack-direction-down {
  animation: attacking-down .1s infinite alternate;
}
